<div class="container p-2" style="margin-top: 5%; box-shadow: 1px 1px 5px; height: 85vh;">
    <div class="cartBox">
      <h1 class="text-danger">Shopping Cart</h1>
      <div class="headCart">
        <p class="lead">You Have <label class="text-black"
            style="color:crimson; padding: 8px; font-size:larger;">{{cartProducts.length}}</label> Item In Your Cart</p>
        <span class="text-danger card-header" (click)="clearCart()">Clear</span>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th> Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts; let index = index">
            <td><img src="{{product.item.image}}"></td>
            <td>{{product.item.title}}</td>
            <td>{{product.item.price}} EGP</td>
            <td>
              <div class="quantity">
                <button class="btn btn-dark" (click)="plus(index)">+</button>
                <input type="number" (change)="changeQuantity()" [(ngModel)]="product.quantity" min="1">
                <button class="btn btn-dark" (click)="mins(index)">-</button>
              </div>
            </td>
            <td>{{product.item.price * product.quantity}} EGP</td>
            <td>
              <button class="btn btn-danger" (click)="clearProduct(index)">Delete</button>
            </td>
          </tr>
        </tbody>
        <tfoot class="">
          <tr class="">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total: {{cartTotal}}  EGP</th>
            <th>
              <div class="btn btn-success my-1" (click)="makeOrder()">
                Order
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert"><strong>Well Done!</strong> Your Order Is Successfully Send</div>
    <br>
  </div>